body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f2f1;
}

#app {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #6264a7;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
    color: white;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 1em;
}

.chat-area {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #edebe9;
    padding: 10px;
    border-bottom: 1px solid #8a8886;
}

#chatWindow {
    flex-grow: 1;
    background-color: rgb(211, 211, 211)
    padding: 20px;
    overflow-y: auto;
}

.input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #8a8886;
}

#messageInput {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8a8886;
}

#sendMessageButton,
#raiseHandButton {
    width: 15%;
    padding: 10px;
    background-color: #6264a7;
    color: white;
    border: none;
    margin-left: 10px;
}

/* Styles for message bubbles with different colors for each agent */
#chatWindow .agent-1 {
    background-color: yellowgreen
}
#chatWindow .agent-2 {
    background-color: #3582b1;
    /* Darker blue for Agent 2 */
}

#chatWindow .agent-3 {
    background-color: #a03d16;
    /* Dark blue for Agent 3 */
}

/* Common message bubble styling */
.messageElement {
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    color: white;
    max-width: 80%;
    word-wrap: break-word;
}

/* Styling for the typing indicator */
#typingIndicator {
    color: #6264a7;
    font-style: italic;
    margin-bottom: 10px;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.text {
    padding: 10px;
    border-radius: 5px;
    color: black;
    display: inline-block;
}

/* Additional global styles can go here */